[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pygame = "*"
python-dotenv = "*"
pytz = "*"
pyyaml = "*"
pygame-menu = "*"
pillow = ">=10.3.0"
pyinstaller = "*"
appdirs = "*"

[dev-packages]

[requires]
python_version = "3.11"
