[Desktop Entry]
Type=Application
Name=Instance
Comment=A game about the subjective experiences of mental health issues
Exec=/opt/instance/instance
Path=/opt/instance
Icon=/opt/instance/assets/branding/icon.png
Categories=Games;